html {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  width: 100px;
  font-size: large;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-weight: 800;
  font-size: xx-large;
}

/*****audio ******/
.hidden {
  display: none !important;
}
/*****end audio******/

/******************tiles*********************************/
.tile-container {
  display: grid;
  grid-template-rows: 10rem 10rem;
  grid-template-columns: 10rem 10rem;
  grid-gap: 1rem;
  margin: 2rem 0;
  pointer-events: none;
}
.tile {
  box-shadow: 0 0 0 1px lightgrey inset, 0 0 0 2px rgb(255 255 255 / 15%) inset,
    0 8px 0 0 lightgrey, 0 8px 0 1px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
  transition: 1s;
}
.tile:hover,
.activated {
  transform: translateY(2px);
  box-shadow: 0 0 0 1px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 10px 0 0 grey, 0 10px 0 1px rgba(0, 0, 0, 0.4),
    0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

/******tiles colors*********************/
.tile-red {
  background-color: red;
}
.tile-green {
  background-color: green;
}
.tile-blue {
  background-color: blue;
}
.tile-yellow {
  background-color: yellow;
}

.tile-red.activated {
  background-color: darkred;
}
.tile-green.activated {
  background-color: darkgreen;
}
.tile-blue.activated {
  background-color: darkblue;
}
.tile-yellow.activated {
  background-color: darkgoldenrod;
}
/******end tiles colors*********************/

/******************end tiles*********************************/
